# --- SISTEM & EDITOR ---
.DS_Store
Thumbs.db
.idea
.vscode
.fleet
.zed
.nova
.phpactor.json
/vendor
/node_modules

.env
.env.backup
.env.production
.phpunit.result.cache
/auth.json

/public/build
/public/hot
/public/storage

/storage/logs/*.log
npm-debug.log
yarn-error.log

/bootstrap/cache/*.php
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

!/bootstrap/cache/.gitignore
!/storage/framework/cache/data/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore

/storage/app/public/*
!/storage/app/public/.gitignore
/storage/*.key

Homestead.json
Homestead.yaml